## Task 1

In [32]:
import sqlite3
import os

try:
    os.remove('company_details.db')
except FileNotFoundError:
    pass

connection = sqlite3.connect("company_details.db")

# create cursor
cursor = connection.cursor()

# create tables and reference foreign keys.
cursor.execute("CREATE TABLE DEPARTMENT (id INTEGER, name TEXT, company_code TEXT,total_employees INTEGER, PRIMARY KEY(company_code))")
cursor.execute("CREATE TABLE COMPANY(company_code TEXT,name TEXT,country TEXT,total_employees INTEGER,FOREIGN KEY(company_code) REFERENCES Department(company_code))")

# Inserting into Company..
cursor.execute("INSERT INTO COMPANY VALUES('A101','GOOGLE','India',500)")
cursor.execute("INSERT INTO COMPANY VALUES('B102','MICROSOFT','Australia',1000)")
cursor.execute("INSERT INTO COMPANY VALUES('C103','GOOGLE','India',250)")
cursor.execute("INSERT INTO COMPANY VALUES('D104','MICROSOFT','Australia',600)")
cursor.execute("INSERT INTO COMPANY VALUES('E105','KPMG','Netherlands',100)")

## Inserting into Department
cursor.execute("INSERT INTO  DEPARTMENT VALUES(1,'Engineering and Tech',        'A101',100)")
cursor.execute("INSERT INTO  DEPARTMENT VALUES(2,'Sales, Service and Support',  'B102',110)")
cursor.execute("INSERT INTO  DEPARTMENT VALUES(3,'Marketing And Communications','C103',120)")
cursor.execute("INSERT INTO  DEPARTMENT VALUES(4,'Business Strategy',           'D104',130)")
cursor.execute("INSERT INTO  DEPARTMENT VALUES(5,'Marketing And Communication', 'E105',140)")
connection.commit()

# Query..
def query_all(country):
    a = cursor.execute("SELECT * FROM DEPARTMENT WHERE company_code IN (SELECT company_code FROM COMPANY WHERE country='India');")
    a = cursor.fetchall()

    return a

print(*query_all('India'))

def query_sum(country):
    a = cursor.execute(f"SELECT SUM(total_employees) FROM DEPARTMENT WHERE company_code IN (SELECT company_code FROM COMPANY WHERE country='{country}');")
    a = cursor.fetchone()
    return a

print(f"Total employees: {query_sum('India')[0]}")

(1, 'Engineering and Tech', 'A101', 100) (3, 'Marketing And Communications', 'C103', 120)
Total employees: 220

## Task 2

In [35]:
class Vehicle:
    def __init__(self,color="red",price=500000,speed=200):
        self.price=price
        self.color=color
        self.speed=speed

# Child Class     
class Car(Vehicle):
    def __init__(self,tires=2):
        self.tires = tires
        Vehicle.__init__(self)

    def printer_function(self):
        print(f"A {self.color}-colored car with a maximum speed of {self.speed} km/h is priced at {self.price} with {self.tires} tires") 

x = Car(tires=6)
x.printer_function()

A red-colored car with a maximum speed of 200 km/h is priced at 500000 with 6 tires

# Task 3

In [36]:
import numpy as np
import pandas as pd
df = pd.DataFrame()
date = ['05Sep2009','13Sep2011','21Sep2010']
df["date"]=date
df.date = pd.to_datetime(df.date)
df.date = df.date.dt.strftime("%y-%m-%d")
df

       date
0  09-09-05
1  11-09-13
2  10-09-21